---
layout: job_page
title: "Security Lead"
---

Our thesis is that [Good Security Is Holistic](https://medium.com/@justin.schuh/stop-buying-bad-security-prescriptions-f18e4f61ba9e).
We think that simulating a security culture in engineering is one of the most
important things. We don't do checklist security, the goal is to keep the trust
of our users by being secure, compliance is not a goal in itself. We don't think
that third party products are unimportant but they are not a silver bullet to
making everything secure.

The [Security Team](/handbook/engineering/security) Lead is responsible for
leading the various initiatives that relate to improving GitLab's security.

The Security Lead reports to the [Director of Security](https://about.gitlab.com/jobs/director-of-security)(vacancy).

## Responsibilities

* Find and fix security issues within the GitLab code base
* Define, implement, and monitor security measures to protect GitLab.com and company assets
* Manage a [bug bounty program](https://medium.com/@collingreene/bug-bounty-5-years-in-c95cda604365#.blaaokpi9)
* Perform vulnerability testing, risk analyses, and security assessments, and
follow through on implementation, working across teams.
* Investigate intrusion incidents, conduct forensic investigations, and mount incident responses
* Collaborate with colleagues on authentication, authorization and encryption solutions
* Evaluate new technologies and processes that enhance security capabilities
* Analyze and advise on new security technologies and program conformance
* Write documentation around how to maintain a high-level of security.

### Specific security-related efforts or projects

- Secure Development lifecycle (SDL) process guidance
- Style guides and design best practices for engineering
- Courses for engineering (including guest speakers)
- Reduce surface area in application (Git Annex, old API)
- Post-postmortems on found security bugs (helps people think about it, high leverage)
- Document security trade-offs
- Automated testing/linting
- Compliance (HIPAA)
- Offensive (pen testing)
- Detection and response (monitoring, Detection, IDS, OSSEC, updates, response)
- Network security (teleport, VPC's, firewalls, access control, also IDS)
- Patch management / Vulnerability management and coordination (modeled after relevant ISO standard)
- Defense in depth recommendations
- Penetration testing by externals
- Source code analysis by externals
- Bug bounty program
- Endpoint security (fleetsmith, encryption, phishing reporting, yubikey, reducing access)
- Runbooks for incidents, recovery plans
- Abuse (spam, bitcoin mining)
- Package infrastructure/update/release process/patches
- Communication (blog post, postmortems, incident response/crisis communication)
- Dependencies and contribution security risks
- Credential management (Vault)

## Requirements

- Experience with application and SaaS security experience in production-level settings.
- This position requires some development experience and high level of 
familiarity with common security libraries, security controls, and common
security flaws that apply to Ruby on Rails applications.
- Passion for open source
- Linux experience (e.g. Ubuntu)
- Programming experience (Ruby and Ruby on Rails preferred; for GitLab debugging)
- Collaborative team spirit with great communication skills
- You share our [values](/handbook/values), and work in accordance with those values.

**NOTE** In the compensation calculator below, fill in "Lead" in the `Level` field for this role.


<%= partial "includes/apply_and_about" %>
