.page-container.share-your-story.text-center
  %h3
    Interested in sharing your company’s ♥️ for GitLab?
  %a{ href: 'https://goo.gl/forms/E17tDIF7tzif1cLk2', class: 'btn btn-lg btn-red', type: 'button' }
    Tell us your story
