---
layout: job_page
title: "Performance Lead"
---

As the Performance Lead, you will take overall responsibility for making sure
that GitLab the application and GitLab.com runs fast at scale. This position
will report to the Backend Director.

## Responsibilities

- Build and lead the team of Performance Engineers by actively seeking and hiring globally-distributed talent
- Identify and prioritize the most critical performance issues from various sources (e.g. database, filesystem, etc.)
- Work with team to propose new architecture designs to support 10x of the current scale
- Lead team meetings, conduct 1:1's, and continuously improve the onboarding and training process/experience.
- Drive the improvement of performance monitoring and alerting
- Identify ways to load test and stress application stack
- Educate all team members on best practices relating to performance
- Lead development of tools/abstractions that aid backend developers
- Handle inbound requests for performance issues

## Requirements

- 5 years or more experience in a leadership role
- Demonstratable experience optimizing performance in a production application used by millions of people
- In-depth experience with Ruby on Rails, Go, and/or git
- Excellent spoken and written English
- You share our [values](/handbook/values), and work in accordance with those values
- [A technical interview](/handbook/hiring/technical) is part of the hiring process for this position.
- A customer scenario interview is part of the hiring process for this position.



**NOTE** In the compensation calculator below, fill in "Lead" in the `Level` field for this role.


<%= partial "includes/apply_and_about" %>
