@import "vendor/bootstrap/bootstrap/responsive-embed";
@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "feature-group";

// all-clickable styling
.js-hover {
  cursor: pointer;

  a {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Inherit home styling
.flex-row {
  display: flex;
}

// Override feature-group styling
.feature-group {
  padding: 26px 0 16px;
}

// Override features styling
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.feature {
  height: auto;
  margin: 0 0 45px;
}
